pipeline/pl_api_to_db_copy1.json
{
	"name": "pl_api_to_db_copy1",
	"properties": {
		"activities": [
			{
				"name": "cp_api_to_db",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_g_drive",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_to_db",
						"type": "DatasetReference",
						"parameters": {
							"File_name": {
								"value": "@concat(\n    formatDateTime(convertTimeZone(addDays(utcNow(),-1),'UTC','India Standard Time'),'yyyy/MM/dd'),'/export.csv'\n)",
								"type": "Expression"
							},
							"Folder_name": "g_drive",
							"Container_name": "raw"
						}
					}
				]
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 20
				}
			},
			{
				"name": "Audit_on_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_api_to_db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertPipelineAuditLog]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('YourActivityName').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"TriggeredBy": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LK_raw09",
					"type": "LinkedServiceReference",
					"parameters": {
						"Server_Name": "raw-09.database.windows.net",
						"Database_Name": "free-sql-db-2300426",
						"User_Name": "raw-09"
					}
				}
			},
			{
				"name": "Audit_on_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_api_to_db",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertPipelineAuditLog]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('YourActivityName').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TriggeredBy": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LK_raw09",
					"type": "LinkedServiceReference",
					"parameters": {
						"Server_Name": "raw-09.database.windows.net",
						"Database_Name": "free-sql-db-2300426",
						"User_Name": "raw-09"
					}
				}
			}
		],
		"parameters": {
			"server_name": {
				"type": "string",
				"defaultValue": "raw-09.database.windows.net"
			},
			"database_name": {
				"type": "string",
				"defaultValue": "free-sql-db-2300426"
			},
			"user_name": {
				"type": "string",
				"defaultValue": "raw-09"
			},
			"schema_name": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"table_name": {
				"type": "string",
				"defaultValue": "fhv_bases01"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-02T14:31:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}